{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^@",
    "<THIRD_PARTY_MODULES>",
    "",
    "^\\$(?!lib/)",
    "",
    "^\\$lib/",
    "",
    "^[.]"
  ]
}
