fastapi
uvicorn
whisperx
openai-whisper
torch
python-dotenv
python-multipart
debugpy
pydantic-settings
sqlalchemy
pydantic
psycopg2-binary
PyYAML
ollama
ctranslate2==4.4.0
pymongo
pyjwt
passlib[bcrypt]
openai
mcp[cli]