# Web Server & Framework
fastapi==0.128.0
uvicorn==0.40.0
pydantic-settings==2.12.0
python-multipart==0.0.22
python-dotenv==1.2.1

# Database & Async
sqlalchemy==2.0.46
alembic==1.18.2
pymongo==4.16.0

# IA, Audio & NLP (El núcleo de tu proyecto)
torch==2.5.1
torchaudio==2.5.1
transformers==4.50.3
openai-whisper==20250625
whisperx==3.4.3
faster-whisper==1.2.1
pyannote.audio==3.4.0
ollama==0.6.1
openai==2.16.0

# Utilidades
httpx==0.28.1
jinja2==3.1.6
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1


langchain==1.2.10
langchain-text-splitters==1.1.1
langchain-community==0.4.1
bs4==0.0.2

langchain-chroma==1.1.0
langchain-openai==1.1.9
langchain-ollama==1.0.1
chromadb==1.5.1
dateparser==1.3.0

pytest==9.0.2

# Dev tools
black==26.1.0
isort==8.0.0
